button {
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: lightgrey;
}
tr {
    cursor: pointer;
  }
tr:hover {
    background-color: #ccc;
  }
.pinch-zoom {
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
