<div class="container px-0" style="max-width: 750px;">
    <div style="padding: 10px 10px 10px 10px; position: fixed; top: 0; left: 50%; transform: translateX(-50%); width: 100%; max-width: 750px; background-color: #212529;">
        <div class="container px-0 d-flex justify-content-between align-items-center" style="flex: 1;">
            <button onclick="this.blur();" (click)="decrementHymn()" style="width: 60px; height: 60px;" class="btn btn-light btn-lg"><i class="fa fa-chevron-left" style="color: black;"></i></button>
            <div style="padding-left: 10px;"></div>
            <input #hymnNumberInput [(ngModel)]="searchValue" (keydown.enter)="searchHymn()" style="height: 60px; flex: 1; font-size: 40px;" type="number" class="form-control text-center" [placeholder]="currentHymnIndex + 1">
            <div style="padding-right: 10px;"></div>
            <button onclick="this.blur();" (click)="incrementHymn()" style="width: 60px; height: 60px;" class="btn btn-light btn-lg"><i class="fa fa-chevron-right" style="color: black;"></i></button>
            <div style="padding-right: 10px;"></div>
            <button onclick="this.blur();" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 60px; height: 60px;" class="btn btn-light btn-lg"><i class="fa fa-bars" style="color: black;"></i></button>
        </div>
    </div>
    <div class="container px-0" style="margin-top: 90px; margin-bottom: 90px;">
        <div *ngIf="currentHymn" class="text-center" [ngStyle]="{'font-size.px': fontSize}">
            <h2>{{ currentHymn.Title }}</h2>
          
            <p style="white-space: pre-line;">
              {{ currentHymn.Verses[0] }}
            </p>
          
            <ng-container *ngIf="currentHymn.Chorus">
              <p style="white-space: pre-line;">
                Chorus:<br>{{ currentHymn.Chorus }}
              </p>
            </ng-container>
          
            <ng-container *ngFor="let verse of currentHymn.Verses.slice(1); let i = index">
              <p style="white-space: pre-line;">
                {{ verse }}
              </p>
            </ng-container>
        </div>
    </div>
    <div style="padding: 10px; position: fixed; bottom: 0; left: 50%; transform: translateX(-50%); width: 100%; max-width: 750px; background-color: #212529;">
      <div class="container px-0 d-flex">
        <button data-bs-toggle="modal" data-bs-target="#exampleModal2" onclick="this.blur();" style="width: 60px; height: 60px;" class="btn btn-light btn-lg"><i class="fa fa-book" style="color: black;"></i></button>
        <div style="padding-right: 10px; flex: 1;"></div>
        <button onclick="this.blur();" style="width: 60px; height: 60px;" class="btn btn-light btn-lg"><i class="fa fa-play" style="color: green;"></i></button>
        <div style="padding-right: 10px;"></div>
        <button onclick="this.blur();" style="width: 60px; height: 60px;" class="btn btn-light btn-lg"><i class="fa fa-stop" style="color: red;"></i></button>
        <div style="padding-right: 10px; flex: 1;"></div>
        <button (click)="decreaseFontSize()" onclick="this.blur();"  style="width: 60px; height: 60px;" class="btn btn-light btn-lg"><i class="fa fa-minus" style="color: black;"></i></button>
        <div style="padding-right: 10px;"></div>
        <button (click)="increaseFontSize()" onclick="this.blur();"  style="width: 60px; height: 60px;" class="btn btn-light btn-lg"><i class="fa fa-plus" style="color: black;"></i></button>
      </div>
    </div>

    <div class="modal top" style="max-width: 750px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
      <div class="modal-dialog modal-fullscreen" style="max-width: 750px;">
        <div class="modal-content" style="display: flex; flex-direction: column; height: 100%;">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Index</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="overflow-y: auto;">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th (click)="sortByNumber()">Number</th>
                  <th (click)="sortByTitle()">Title</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let hymn of hymns" (click)="selectHymn(hymn)" data-bs-dismiss="modal">
                  <td>{{ hymn.Number }}</td>
                  <td>{{ hymn.Title }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal top px-0" style="max-width: 750px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
      <div class="modal-dialog modal-fullscreen px-0" style="max-width: 750px;">
        <div class="modal-content px-0" style="display: flex; flex-direction: column; height: 100%;">
          <div class="modal-body px-0" style="padding: 0px; overflow:hidden; position:relative;">
            <div class="pinch-zoom px-0">
              <img id="zoomable-image" src="/assets/MusicSheets/{{currentHymn.Number}}/1.jpg" mwidth="100%" height="100%"/>
            </div>
          </div>
          <div class="modal-footer px-0">
            <div class="container px-0 d-flex justify-content-between align-items-center" style="flex: 1;">
            <button data-bs-dismiss="modal" onclick="this.blur();" style="width: 60px; height: 60px; float: left;" class="btn btn-dark btn-lg"><i class="fa fa-close" style="color: white;"></i></button>
            <div style="flex: 1;"></div>
            <button onclick="this.blur();" style="width: 60px; height: 60px;" class="btn btn-dark btn-lg"><i class="fa fa-chevron-left" style="color: white;"></i></button>
            <button onclick="this.blur();" style="width: 60px; height: 60px;" class="btn btn-dark btn-lg"><i class="fa fa-chevron-right" style="color: white;"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>